extends layout

block content
  form.form(method="POST")
    h2 Reset Your password
    label(for="password") Password
    input(type="password" name="password")
    label(for="confirm-password") Confirm Password
    input(type="password" name="password-confirm")
    input.button(type="submit" value="Reset Password")
